.row
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %h1.page-header
          Model
          %span
            = @model.name
    .row
      .col-md-10.col-md-offset-1
        .col-md-4
          %h4 Builds By Status
          .well
            = render partial: 'shared/doughnut_chart', locals: {chart: @build_status_chart }
        .col-md-8
          %h4 Model Information
          .well
            %dl.dl-horizontal
              %dt Created By:
              %dd= @model.created_by
              %dt Creation Date:
              %dd= @model.creation_date
              %dt Subject:
              %dd= link_to(@model.subject.name, subject_overview_path(id: @model.subject.subject_id)
              %dt Processing Profile:
              %dd= link_to(@model.processing_profile.name, processing_profile_overview_path(id: @model.processing_profile.id))
              -if @analysis_project
                %dt Analysis Project:
                %dd= link_to(@analysis_project.name, analysis_project_overview_path(id: @analysis_project.id))
    .row
      .col-md-10.col-md-offset-1
        .well
          = render partial: 'shared/status_table', locals: {table: @build_status_table }
    .row
      %br
