=javascript_include_tag "//www.google.com/jsapi" 
=javascript_include_tag "application", "chartkick"
.row
  .container-fluid
    .row
      .col-md-12.col-md-offset-1
        %h1.page-header
          = "DISKS!"
    .row
      .col-md-10.col-md-offset-1
        .col-md-6
          %h4 Usage by Disk Group 
          .well
            = pie_chart @disk_group_sum
        .col-md-6
          %h4 Usage by Disk Group and Status 
          .well
            = column_chart  @disk_group_status_sum
    .clearfix
    .row
      .col-md-16.col-md-offset-1      
        %h4 Usage by Owner Class
        .well
          = bar_chart @owner_class_sum_rename
    .row
      .col-md-16.col-md-offset-1      
        %h4 Usage by Owner Class Active
        .well
          = bar_chart @owner_class_status_sum
    .row
      .col-md-16.col-md-offset-1      
        %h4 Usage by Sponsor
        .well
          = bar_chart @disk_sponsor_result_hash
      %br