.row
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %h1.page-header
          = @subject.name
    .row
      .col-md-10.col-md-offset-1
        .well
          .col-md-8
            %h4 Subject Information
            %table.table.table-striped
              %thead
                %tr
                  %th Label
                  %th Value
                  %th Nomenclature
              %tbody
                - @attributes.each do |attribute|
                  %tr
                    %td= attribute.attribute_label
                    %td= attribute.attribute_value
                    %td= attribute.nomenclature
          .col-md-4
            %h4 Libraries
            %ul
              -@libraries.each do |library|
                %li= link_to library.full_name, library_overview_path(id: library.library_id)
          .clearfix
    .row
      .col-md-10.col-md-offset-1
        .col-md-12
          %h4 Models
          %ul
            - @models.each do |model|
              %li= link_to model.name, model_status_path(id: model.genome_model_id)
          = paginate @models
